# Next.js 会自动加载这些环境变量文件
# `.element.env` 不会被 `next dev` 自动读取

SITE_CONFIG_API_BASE=http://127.0.0.1:9527
SITE_KEY=pubgm
SITE_CONFIG_USE_REMOTE_IN_DEV=true
SITE_CONFIG_DISABLE_LOCAL_FALLBACK=true
SITE_CONFIG_DEBUG=true
